.calc-wrapper{
    background-color: #bb4e77;
    max-width:340px;
    border-radius: 8px;
    margin: 0 auto;
}
.calc-grid{
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
    margin: 10px auto;
    width: auto;
    justify-content: center;

    padding: 10px;
    border-radius: 7px;
}
.col-2{
    grid-column: span 2;
}
.screen{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
    grid-column: 1 / -1;
    font-size: 26px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 5px;
}

.previous-input{
    height: 50px;
    max-height: 50px;
    width: 100%;
    text-align: right;
    border-bottom: 8px solid #bb4e77;
    border-radius: 5px;
}

.current-input{
    height: 50px;
    max-height: 50px;
   
}

.screen-title{
    width: 100%;
    font-size: 20px;
    text-align: right;
    color:rgba(51, 51, 101, .2)
}

button{
    margin: 3px;
    background-color: rgb(51, 51, 101);
    color: #fff;
    border: 0;
    border-radius: 6px;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: rgb(91, 91, 176)
}
.info-box{
    height: 55px;
    max-height: 55px;
    text-align: center;
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    padding: 8px;
}